

.header
{
    background-color:#131921;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index:100;
    
}
.header__logo
{
    width:100px;
    margin: 0 20px;
    cursor: pointer;
    margin-top: 18px;
    object-fit: contain;
}
.header___nav
{
    display: flex;
    justify-content: space-evenly;

}
.header__search
{
    display: flex;
    flex: 1;

    
}
.header__option
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    
}
.header_optionBasket
{
    display:flex;
    align-items: center;

    color:white;


}
.header_basketCount
{
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}
.header_optionLineone
{
    
}
.header_optionLineTwo
{
    font-size:13px;
    font-weight: 800;

}
.header__link
{
    color:white; 
    text-decoration: none;
}
.header__searchIcon
{
    background-color: #cd9042;
    padding:5px;
    height: 23px !important;

}
.header__searchInput
{
    height: 13px;
    padding: 10px;
    border: none;
    width:100%;
}
