.product
{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    margin: 10px;
    padding:20px;
    width: 100%;
    z-index: 1;
    align-items: center;

}
.product_price
{
    margin-top: 5px;

}
.product_info
{
    height: 100px;
    margin-bottom: 15px;
}
.product img
{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 40px;
}
.product button{
    background-color: #f0c14b;
    border: 1px solid;
    
}

.product_rating
{
    display: flex;
    margin-bottom: 15px;
}